.id-card{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 97vh;
    position: fixed;
    right: 1rem;
    top: .8rem;
    background-color: #303b47;
    border-radius: 2rem;
}
.placeholder{
    width: 24%;
    height: 100vh;
}
.user-img{
    margin-top: 2rem;
    width: 6.5rem;
    height: 6.5rem;
    border: 0PX SOLID white;
    border-radius: 50%;
    outline-offset: 8px;
    outline: 4px solid var(--orange);
    position: relative;
    OVERFLOW: CLIP;
}
.imgChange{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.473);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    opacity: 0;
    transition: .3s;
}
.imgChange label{
    cursor: pointer;
    color: #f9faff;
}
#changee{
    visibility: hidden;
    display: none;
}
.user-img img{
    max-width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}
.user-name{
    color: white;
    margin-top:1.5rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 1.1rem;
    /* font-weight: 600; */
}
.user-name span{
    font-size: 1rem;
    font-weight: 100;
    opacity: .5;

}
.contact{
    margin-top: 2rem;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
}
.contact p{
    margin: 0;
    font-size: 1.1rem;
}
.contact-info{
    width: 100%;
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.contact-info label{
    letter-spacing: 1.1px;
    font-size: .7rem;
    opacity: .5;
}
.info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.info span:nth-child(1){
    max-width: 70%;
    font-size: .9rem;
}
.info i{
    text-align: right;
    padding: .4rem;
    background-color: rgba(255, 255, 255, 0.205);
    border-radius:.2rem ;
} 
.charts{
    margin-top: 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.charts-head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: WHITE;
}
.charts-head select{
    background-color: transparent;
    color: white;
    padding: 0.2rem;
    border: none;
    opacity: .5;
    outline: none;
    cursor: pointer;
}
.keys{
    display: flex;
    font-size: .7rem;
    width: 100%;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.dot::before{
    margin-right: .4rem;
    display: inline-block;
    content: '';
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background-color: red;

}
.statistiques{
    width: 100%;
    margin-top: 0.6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 12rem;
}
.tower{
    width: 4rem;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.tower .chart{
    height:8rem;
    width: .4rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.301) ;
    border-radius: .2rem ;
    position: relative;
    margin-bottom: 1rem ;
    
}
.planned,.Canceled,.booked{
    width: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: inherit;
}
.planned{
    height: 80%;
    background-color: white;
}
/* IN THE JS YOU HAVE TO ADD THE CANCELD TO PLANNED AND BOOKED  */
.Canceled{
    height: 40%;
    background-color: yellow;

}
.booked{
    height: 60%;
    background-color: aqua;
}

.day{
    color: white;
    margin-top: 0.3rem;
    font-size: .7rem;
    position: relative;
    bottom: 7PX;
}