.dashboard-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    align-items: flex-start;

}
.error{
    border: 1px solid rgb(217, 71, 71) !important;
}
.success{
    border: 1px solid rgb(71, 217, 81) !important;
}