.dashboard-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: "Poppins", sans-serif;
    list-style: none;
    align-items: flex-start;
    background-color: #f9faff;
}
